@page
@model MultimediaLibrary.Pages.LibraryCards.DeleteModel

@{
    ViewData["Title"] = "Usuwanie";
}

<h1>Usuwanie</h1>

<h4>Karta biblioteczna</h4>
<hr />

<div>
    <h3>Czy na pewno chcesz usunąć tą kartę biblioteczną?</h3>
    <br />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LibraryCard.LibraryCardNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LibraryCard.LibraryCardNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LibraryCard.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LibraryCard.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LibraryCard.ExpirationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LibraryCard.ExpirationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LibraryCard.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LibraryCard.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LibraryCard.Person)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LibraryCard.Person.FullName)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="LibraryCard.LibraryCardID" />
        <input type="submit" value="Usuń" class="btn btn-outline-danger" /> |
        <a asp-page="./Index">Wróć do listy</a>
    </form>
</div>
