@page
@model MultimediaLibrary.Pages.Persons.DeleteModel

@{
    ViewData["Title"] = "Usuwanie";
}

<h1>Usuwanie</h1>

<h4>Czytelnik</h4>
<hr />

<div>
    <h3>Czy na pewno chcesz usunąć tego czytelnika?</h3>
    <br />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.DateOfBirth)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Person.PersonID" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-page="./Index">Wróć do listy</a>
    </form>
</div>
