@page
@model MultimediaLibrary.Pages.Persons.IndexModel

@{
    ViewData["Title"] = "Osoby";
}

<h1>Lista czytelników</h1>

<p>
    <a asp-page="Create">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].DateOfBirth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Person) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PersonID">Edytuj</a> |
                <a asp-page="./Details" asp-route-id="@item.PersonID">Szczegóły</a> |
                <a asp-page="./Delete" asp-route-id="@item.PersonID">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
