@page
@model MultimediaLibrary.Pages.Activities.IndexModel

@{
    ViewData["Title"] = "Aktywności";
}

<h1>Aktywności</h1>

<p>
    <a class="btn btn-success btn-lg" asp-page="Create">Zarejestruj nową aktywność &raquo;</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Activity[0].ActivityType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activity[0].ActivityDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activity[0].Supply)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activity[0].Person)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Activity)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supply.Summary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.FullName)
                </td>
            </tr>
        }
    </tbody>
</table>
