@page
@model MultimediaLibrary.Pages.NewFolder.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<div>
    <h4>Zasób biblioteczny</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supply.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supply.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supply.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supply.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supply.MediaType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supply.MediaType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supply.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supply.Comment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supply.Grade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supply.Grade)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Supply.SupplyID">Edytuj</a> |
    <a asp-page="./Index">Wróc do listy</a>
</div>
